<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 25rem;">
        <h1 class="text-center mb-4">Login custom</h1>
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username or password
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out successfully
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4">Login</button>
        </form>
        <div class="text-center">
            <a href="/signup" class="btn btn-success w-100">Sign Up</a>
        </div>
    </div>
</div>
</body>
</html>